
.comment-container{
    margin-top: 2%;
}



.comment{
    display: flex;
    margin-bottom: 2%;
}


.user-logo{
    width: 4%;
    height: 4%;
    border-radius: 50%;
    margin-right: 1.5%;
}


.comment-reactions{
    display: flex;
}

.comment-reactions span{
    display: flex;
    align-items: center;
}

.comment-reactions span img{
    width: 25px;
    cursor: pointer;
}