.feed{
    
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,1fr));
    gap: 1%;
    padding-left: 18%;
    padding-top: 1%;
    padding-right: 1%;
    z-index: -1;
}

.large-container{
    padding-left: 8%;
}